body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.frImage {
  background-image: url(./assets/image1.png);
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  margin-top: 2rem;
  align-items: center;
  margin-bottom: 25px;
}

.frContainer {
  color: white;
  padding: 0.5%;
  margin-top: 15rem;
  padding-left: 3rem;
}

.frText {
  font-size: 3em;
  margin-bottom: 0.2em;
  font-weight: 400;
}

.frText1 {
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 0;
}

.frText3 {
  font-size: 0.8em;
  font-weight: 400;
  margin-left: 50px;
  color: #333333;
}

.learn-more {
  margin-top: 1rem;
  font-size: 3vh;
  width: 9em;
  height: 3em;
  border: 1px solid black;
  border-radius: 0;
}

.articles-section {
  margin: 0 auto;
  padding: 50px;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2.5em;
  font-weight: normal;
  color: #333;
}

.articles-grid {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "item1 item2"
    "item3 item3";
}

.article-card:nth-child(1) {
  grid-area: item1;
}

.article-card:nth-child(2) {
  grid-area: item2;
}

.article-card:nth-child(3) {
  grid-area: item3;
}

.article-card img {
  height: auto;
  margin-bottom: 10px;
}

.article-date {
  color: #666;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.article-title {
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.4;
  color: #333;
}

.article-description {
  font-size: 1em;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
}


.read-more-link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  display: inline-block;
  margin-bottom: 20px;
  height: 2.5em;
}

.read-more-link:hover {
  text-decoration: underline;
}

.article-fine-print {
  font-size: 0.7em;
  color: #888;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .articles-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "item1"
      "item2"
      "item3";
  }
}

.audi-work-image {
  float: right;
  margin-bottom: 2.5rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  width: 50%;
}

.audi-work-section {
  margin-left: 6rem;
}

.audi-work-heading {
  font-size: 2rem;
  font-weight: 400;

}

.audi-work-description {
  font-size: 1rem;
  color: #333333;
}

.audi-work-point {
  font-size: 0.9rem;
  color: #333333;
}

.learn-more1 {
  margin-top: 1rem;
  font-size: 3vh;
  width: 9em;
  height: 3em;
  border: 1px solid black;
  border-radius: 0;
  margin-bottom: 9rem;
}

.audi-innovation-image {
  float: left;
  margin-left: 3rem;
  margin-right: 2.5rem;
  margin-bottom: 2.5rem;
  width: 48.5%;
}

.audi-innovation-heading {
  font-size: 2rem;
  font-weight: 400;
}

.audi-innovation-description {
  font-size: 1rem;
  margin-right: 3.5rem;
  color: #333333;
}

.learn-more2 {
  margin-top: 1rem;
  font-size: 3vh;
  width: 9em;
  height: 3em;
  border: 1px solid black;
  border-radius: 0;
  margin-bottom: 5rem;
}

.md-color {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.md-container {
  text-align: center;
  padding: 100px;
}

.md-heading {
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 25px;
}

.md-text {
  max-width: 800px;
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 40px;
}

.button-container {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.btn {
  text-decoration: none;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 0;
  transition: background-color 0.3s, color 0.3s;
  height: 3rem;
  width: 200px;
}

.btn-light {
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
}

.btn-dark {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}

.press-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
  text-align: center;
}

.sections-title {
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 60px;
}

.press-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  text-align: left;
  margin-bottom: 60px;
}

.press-card img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.press-title {
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 10px;
}

.press-btn {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  display: block;

}

.press-btn1 {
  display: inline-block;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  height: 3rem;

}

.btn-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .press-grid {
    grid-template-columns: 1fr;
  }
}

.company-overview-image {
  background-image: url(./assets/image12.png);
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 600px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.company-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.company-title {
  font-size: 2.5em;
  font-weight: normal;
  margin-bottom: 20px;
}

.company-text {
  max-width: 800px;
  font-size: 1.5em;
  line-height: 1.6;
  margin: 0;
}

.company-grid {
  display: grid;
  grid-template-columns: repeat(3, 27rem);
  margin-top: 5rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.company-card1 {
  background-image: url(./assets/image8.png);
  background-size: 106%;
  background-position: center;
  width: 420px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: background-size 5s ease;
  overflow: hidden;
  cursor: pointer;
}

/* Define the hover state */
.company-card1:hover {
  background-size: 150%;
}

.company-card2 {
  background-image: url(./assets/image13.png);
  background-size: 106%;
  background-position: center;
  width: 420px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: background-size 5s ease;
  overflow: hidden;
  cursor: pointer;
}

.company-card2:hover {
  background-size: 150%;
}

.company-card3 {
  background-image: url(./assets/image14.png);
  background-size: 106%;
  background-position: center;
  width: 420px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: background-size 5s ease;
  overflow: hidden;
  cursor: pointer;
}

.company-card3:hover {
  background-size: 150%;
}

.company-heading {
  max-width: 800px;
  font-size: 1.5em;
  line-height: 1.6;
  margin: 0;
  color: white;
  font-weight: normal;
}

.company-btn {
  font-size: 1rem;
  border-radius: 0;
  background: transparent;
  color: white;
}

.company-grid1 {
  display: grid;
  grid-template-columns: repeat(2, 38rem);
  margin-top: 5rem;
  justify-content: center;
  margin-bottom: 3rem;
}

.company-card4 {
  background-image: url(./assets//image15.png);
  background-size: 106%;
  background-position: center;
  width: 600px;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-size 5s ease;
  overflow: hidden;
  cursor: pointer;
}

.company-card4:hover {
  background-size: 150%;
}

.company-card5 {
  background-image: url(./assets//image16.png);
  background-size: 106%;
  background-position: center;
  width: 600px;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-size 5s ease;
  overflow: hidden;
  cursor: pointer;
}

.company-card5:hover {
  background-size: 150%;
}

.company-heading1 {
  max-width: 800px;
  font-size: 2em;
  line-height: 1.6;
  margin: 0;
  color: white;
  font-weight: normal;

}

.company-btn1 {
  font-size: 1rem;
  border-radius: 0;
  width: 7rem;
  height: 3rem;
  background: transparent;
  color: white;
}

.stats-container {
  padding: 50px 20px;
  text-align: center;
  background-color: #000;
  margin-bottom: 7rem;
}

.stats-divider-text {
  color: #fff;
  font-size: 2em;
  font-weight: normal;
}

.stats-row {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat-item {
  padding: 0 20px;
}

.stat-label {
  font-size: 1.2em;
  color: #ccc;
  margin: 0;
}

.stat-number {
  font-size: 3.5em;
  font-weight: bold;
  margin: 10px 0;
  color: #fff;
}

.vertical-divider.ant-divider-vertical {
  height: 200px !important;
  border-color: #fff !important;
}

.company-info-heading {
  font-size: 1.1rem;
  font-weight: normal;
  display: flex;
  margin-left: 30px;
}

.company-info-grid {
  display: grid;
  grid-template-columns: repeat(3, 27rem);
  margin-top: 5rem;
  justify-content: center;
  margin-bottom: 4rem;
}

.company-info-image1 {
  background-image: url(./assets/image17.png);
  background-size: 150%;
  background-position: center;
  width: 420px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-size 5s ease;
  overflow: hidden;
  cursor: pointer;
}

.company-info-image1:hover {
  background-size: 200%;
}

.company-info-image2 {
  background-image: url(./assets/image18.png);
  background-size: 150%;
  background-position: center;
  width: 420px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-size 5s ease;
  overflow: hidden;
  cursor: pointer;
}

.company-info-image2:hover {
  background-size: 200%;
}

.company-info-image3 {
  background-image: url(./assets/image19.png);
  background-size: 150%;
  background-position: center;
  width: 420px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-size 5s ease;
  overflow: hidden;
  cursor: pointer;
}

.company-info-image3:hover {
  background-size: 200%;
}

.company-info-title {
  max-width: 800px;
  font-size: 2.5rem;
  line-height: 3.5rem;
  margin: 0;
  color: white;
  font-weight: normal;
}

.company-info-btn {
  font-size: 1rem;
  border-radius: 0;
  width: 7rem;
  height: 3rem;
  background: transparent;
  color: white;
}

.report-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  width: 100%;
  background-color: #000;
  margin-bottom: 5rem;
}

.report-image-container {
  flex: 1;
  position: relative;
}

.report-image-container img {
  width: 100%;
  height: auto;
  display: block;
  margin-left: 2rem;
}

.image-caption {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 0.8em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  margin-left: 0.8rem;
}

.report-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 40px;
  color: #ffffff;
  margin-left: 2rem;
}

.report-text-container h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.report-text-container h2 {
  font-size: 1.2em;
  font-weight: normal;
  color: #ffffff;
  margin-bottom: 20px;
}

.report-text-container p {
  line-height: 1.6;
  margin-bottom: 30px;
}

.read-more-button {
  display: inline-block;
  padding: 12px 30px;
  color: #ffffff;
  border: 1px solid #ffffff;
  width: 15%;
  text-decoration: none;
  font-weight: bold;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}

.read-more-button:hover {
  background-color: #ffffff;
  color: #000000;
}

@media (max-width: 768px) {
  .report-section {
    flex-direction: column;
  }
}

.volks-btn {
  padding: 12px 30px;
  color: #000000;
  border: 1px solid #000000;
  width: 15%;
  text-decoration: none;
  font-weight: bold;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}

.volks-div {

}

.volks-headng {
  
}